@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Nunito:wght@300;400;500;600;700;800&family=Paytone+One&isplay=swap");

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Reem+Kufi+Ink&family=Rubik+Dirt&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    height: 100vh;
    background-image: url(/img/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
body::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2)
}
.menu-icon {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: translate(20px, 20px);
    transition: all .5s ease;
}
#check:checked + .menu-icon {
    transform: translate(-200px, 20px);
}
.menu-icon i {
    color: #219ebc;
    font-size: 40px;
    font-weight: bold;
}
.container {
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 333px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: all .3s ease;
}
#check {
    display: none;
}
#check:checked ~ .container {
    transform: translateX(0%);
}
.container nav {
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}
nav .header {
    height: 70px;
    padding: 0 20px;
    color: whitesmoke;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    display: flex; align-items: center; justify-content: baseline;
}
.header label {
    color: #219ebc;
    font-family: 'Rubik Dirt', sans-serif;
    font-size: 30px;
}
.header i {
    color: #ae2012;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li {
    height: 55px;
    line-height: 55px;
    margin-bottom: 5px;
    transition: all .3s ease;
}
nav ul li:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 10px solid #219ebc;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
}
nav ul li a {
    display: flex; align-items: center;
    color: whitesmoke;
    width: 100%;
    padding-left: 15px;
    transition: all .3s ease;
}
nav ul li a i {
    font-size: 20px;
    margin-right: 10px;
}
.social-media {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.social-media a {
    display: inline-block;
    width: 40px; height: 100%;
}
.social-media a i {
    color: whitesmoke;
    font-size: 22px;
    transition: all .3s ease;
}
.social-media a:hover i {
    color: #219ebc;
}